In [1]:
import pandas as pd
import sqlite3


excel_file = "class_11.xlsx"  
df = pd.read_excel(excel_file)

df.columns = df.columns.str.lower()

df.head()

,id,title,authors,translators,subjects,bookshelves,languages,copyright,media_type,formats,download_count
0,84,"Frankenstein; Or, The Modern Prometheus","Shelley, Mary Wollstonecraft",NaN,Frankenstein's monster (Fictitious character) ...,Culture/Civilization/Society; Fiction,en,False,Text,text/html,78467
1,1513,Romeo and Juliet,"Shakespeare, William",NaN,Conflict of generations -- Drama; Juliet (Fict...,Fiction; Literature,en,False,Text,text/html,62300
2,1342,Pride and Prejudice,"Austen, Jane",NaN,Courtship -- Fiction; Domestic fiction; Englan...,Best Books Ever Listings; Culture/Civilization...,en,False,Text,text/html,58812
3,2701,"Moby Dick; Or, The Whale","Melville, Herman",NaN,"Adventure stories; Ahab, Captain (Fictitious c...",Best Books Ever Listings; Fiction,en,False,Text,text/html,58362
4,25344,The Scarlet Letter,"Hawthorne, Nathaniel",NaN,Adultery -- Fiction; Boston (Mass.) -- History...,Banned Books from Anne Haight's list; Culture/...,en,False,Text,text/html,45002

In [ ]:
# import sqlite3
# import pandas as pd
import re

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –±–∞–∑–µ –∏ –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
conn = sqlite3.connect("gutenberg_books.db")
df = pd.read_sql_query("SELECT * FROM books", conn)

def format_authors(authors_str):
    """
    –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç —Å—Ç—Ä–æ–∫—É —Å –∞–≤—Ç–æ—Ä–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç: –ò–º—è –§–∞–º–∏–ª–∏—è
    """
    if pd.isna(authors_str):
        return None  # –µ—Å–ª–∏ –ø–æ–ª–µ –ø—É—Å—Ç–æ–µ

    # –†–∞–∑–¥–µ–ª—è–µ–º –∞–≤—Ç–æ—Ä–æ–≤ –ø–æ ";"
    authors = [a.strip() for a in authors_str.split(';')]

    formatted_authors = []
    for author in authors:
        if ',' in author:
            # –†–∞–∑–±–∏–≤–∞–µ–º –ø–æ –∑–∞–ø—è—Ç–æ–π –Ω–∞ —Ñ–∞–º–∏–ª–∏—é –∏ –∏–º—è
            surname, name = author.split(',', 1)
            name = name.strip()
            surname = surname.strip()

            # –£–±–∏—Ä–∞–µ–º —Å–∫–æ–±–∫–∏, –µ—Å–ª–∏ –µ—Å—Ç—å (–Ω–∞–ø—Ä–∏–º–µ—Ä, "T. (Tobias)")
            match = re.search(r'\((.*?)\)', name)
            if match:
                name = match.group(1)  # –ë–µ—Ä—ë–º –ø–æ–ª–Ω–æ–µ –∏–º—è –∏–∑ —Å–∫–æ–±–æ–∫
            else:
                # –ï—Å–ª–∏ –Ω–µ—Ç —Å–∫–æ–±–æ–∫, –∏—Å–ø–æ–ª—å–∑—É–µ–º –∫–∞–∫ –µ—Å—Ç—å
                name = name

            formatted_authors.append(f"{name} {surname}")
        else:
            # –ï—Å–ª–∏ –Ω–µ—Ç –∑–∞–ø—è—Ç–æ–π, –æ—Å—Ç–∞–≤–ª—è–µ–º –∫–∞–∫ –µ—Å—Ç—å
            formatted_authors.append(author.strip())

    return ', '.join(formatted_authors)

# –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∫ —Å—Ç–æ–ª–±—Ü—É author
df['authors'] = df['authors'].apply(format_authors)

# –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print(df[['title', 'authors']].head())

# –ó–∞–ø–∏—Å—ã–≤–∞–µ–º –æ–±—Ä–∞—Ç–Ω–æ –≤ —Ç–∞–±–ª–∏—Ü—É
df.to_sql("books", conn, if_exists="replace", index=False)
conn.close()

print("‚úÖ –°—Ç–æ–ª–±–µ—Ü 'authors' —É—Å–ø–µ—à–Ω–æ –æ—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω –∏ –æ–±–Ω–æ–≤–ª—ë–Ω –≤ —Ç–∞–±–ª–∏—Ü–µ!")

                                       title                      authors
0           Alice's Adventures in Wonderland                Lewis Carroll
1    Frankenstein; Or, The Modern Prometheus  Mary Wollstonecraft Shelley
2  The Complete Works of William Shakespeare          William Shakespeare
3                                Middlemarch                 George Eliot
4                 The Picture of Dorian Gray                  Oscar Wilde
‚úÖ –°—Ç–æ–ª–±–µ—Ü 'authors' —É—Å–ø–µ—à–Ω–æ –æ—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω –∏ –æ–±–Ω–æ–≤–ª—ë–Ω –≤ —Ç–∞–±–ª–∏—Ü–µ!

In [4]:
conn = sqlite3.connect("gutenberg_books.db")  # –µ—Å–ª–∏ —Ñ–∞–π–ª–∞ –Ω–µ—Ç, –æ–Ω —Å–æ–∑–¥–∞—Å—Ç—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏
cursor = conn.cursor()


cursor.execute("DROP TABLE IF EXISTS books")

# ‚úÖ –¢–µ–ø–µ—Ä—å —Å–æ–∑–¥–∞—ë–º –µ—ë –∑–∞–Ω–æ–≤–æ
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    authors TEXT,
    translators TEXT,
    subjects TEXT,
    bookshelves TEXT,
    languages TEXT,
    copyright BOOLEAN,
    media_type TEXT,
    formats TEXT,
    download_count INTEGER
)
''')
print("‚úÖ –¢–∞–±–ª–∏—Ü–∞ —Å–æ–∑–¥–∞–Ω–∞ –∏–ª–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É–µ—Ç.")


# –ü–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –∫–æ–ª–æ–Ω–∫–∏, —á—Ç–æ–±—ã —Å–æ–≤–ø–∞–¥–∞–ª–∏ —Å —Ç–∞–±–ª–∏—Ü–µ–π
# df.rename(columns={
#     'ID': 'id',
#     'TITLE': 'title',
#     'AUTHORS': 'author',
#     'TRANSLATORS': 'translator',
#     'SUBJECTS': 'subjects',
#     'BOOKSHELVES': 'bookshelves',
#     'LANGUAGES': 'language',
#     'COPYRIGHT': 'copyright',
#     'MEDIA_TYPE': 'media_type',
#     'FORMATS': 'formats',
#     'DOWNLOAD_COUNT': 'download_count'
# }, inplace=True)


# ‚úÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü—É
df.to_sql("books", conn, if_exists="append", index=False)
print("‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ —Ç–∞–±–ª–∏—Ü—É.")

# # ‚úÖ –ó–∞–∫—Ä—ã–≤–∞–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ
# conn.commit()
# conn.close()
# print("‚úÖ –ì–æ—Ç–æ–≤–æ! –ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ–∑–¥–∞–Ω–∞: gutenberg_books.db")

‚úÖ –¢–∞–±–ª–∏—Ü–∞ —Å–æ–∑–¥–∞–Ω–∞ –∏–ª–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É–µ—Ç.
‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ —Ç–∞–±–ª–∏—Ü—É.

In [ ]:
# import sqlite3
# import pandas as pd
# import re

# # –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –±–∞–∑–µ –∏ –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
# conn = sqlite3.connect("gutenberg_books.db")
# df = pd.read_sql_query("SELECT * FROM books", conn)

# def format_authors(authors_str):
#     """
#     –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç —Å—Ç—Ä–æ–∫—É —Å –∞–≤—Ç–æ—Ä–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç: –ò–º—è –§–∞–º–∏–ª–∏—è
#     """
#     if pd.isna(authors_str):
#         return None  # –µ—Å–ª–∏ –ø–æ–ª–µ –ø—É—Å—Ç–æ–µ

#     # –†–∞–∑–¥–µ–ª—è–µ–º –∞–≤—Ç–æ—Ä–æ–≤ –ø–æ ";"
#     authors = [a.strip() for a in authors_str.split(';')]
#     # print("üìñ authors =", authors)  # –≤—ã–≤–æ–¥–∏–º —Å–ø–∏—Å–æ–∫ –∞–≤—Ç–æ—Ä–æ–≤

#     # –ø–æ–∫–∞ –≤–æ–∑–≤—Ä–∞—â–∞–µ–º —Å–ø–∏—Å–æ–∫ –∞–≤—Ç–æ—Ä–æ–≤ –≤–º–µ—Å—Ç–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏
# #     return authors

# # print(format_authors("Shakespeare, William"))


#     formatted_authors = []
#     for author in authors:
#         if ',' in author:
#             # –†–∞–∑–±–∏–≤–∞–µ–º –ø–æ –∑–∞–ø—è—Ç–æ–π –Ω–∞ —Ñ–∞–º–∏–ª–∏—é –∏ –∏–º—è
#             surname, name = author.split(',', 1)
#             name = name.strip()
#             surname = surname.strip()

#             # –£–±–∏—Ä–∞–µ–º —Å–∫–æ–±–∫–∏, –µ—Å–ª–∏ –µ—Å—Ç—å (–Ω–∞–ø—Ä–∏–º–µ—Ä, "T. (Tobias)")
#             match = re.search(r'\((.*?)\)', name)
#             if match:
#                 name = match.group(1)  # –ë–µ—Ä—ë–º –ø–æ–ª–Ω–æ–µ –∏–º—è –∏–∑ —Å–∫–æ–±–æ–∫
#             else:
#                 # –ï—Å–ª–∏ –Ω–µ—Ç —Å–∫–æ–±–æ–∫, –∏—Å–ø–æ–ª—å–∑—É–µ–º –∫–∞–∫ –µ—Å—Ç—å
#                 name = name

#             formatted_authors.append(f"{name} {surname}")
#         else:
#             # –ï—Å–ª–∏ –Ω–µ—Ç –∑–∞–ø—è—Ç–æ–π, –æ—Å—Ç–∞–≤–ª—è–µ–º –∫–∞–∫ –µ—Å—Ç—å
#             formatted_authors.append(author.strip())

#     return ', '.join(formatted_authors)

# # –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∫ —Å—Ç–æ–ª–±—Ü—É author
# df['authors'] = df['authors'].apply(format_authors)

# # –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
# print(df[['title', 'authors']].head())

# # –ó–∞–ø–∏—Å—ã–≤–∞–µ–º –æ–±—Ä–∞—Ç–Ω–æ –≤ —Ç–∞–±–ª–∏—Ü—É
# df.to_sql("books", conn, if_exists="replace", index=False)
# conn.close()

# print("‚úÖ –°—Ç–æ–ª–±–µ—Ü 'authors' —É—Å–ø–µ—à–Ω–æ –æ—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω –∏ –æ–±–Ω–æ–≤–ª—ë–Ω –≤ —Ç–∞–±–ª–∏—Ü–µ!")

['Shakespeare, William']

In [ ]:
# mystr = "–æ–¥–∏–Ω –¥–≤–∞ —Ç—Ä–∏ —á–µ—Ç—ã—Ä–µ –ø—è—Ç—å"
# str_list = mystr.split(" ", 3)
# print(str_list)

['–æ–¥–∏–Ω', '–¥–≤–∞', '—Ç—Ä–∏', '—á–µ—Ç—ã—Ä–µ –ø—è—Ç—å']

In [ ]:
import requests
import pandas as pd
import sqlite3
import re


def fetch_books(language):
    url = f"https://gutendex.com/books?languages={language}"
    response = requests.get(url)
    response.raise_for_status()  
    data = response.json()
    return data['results']

In [ ]:
# def process_name(author):
#     """
#     –ü–µ—Ä–µ–≤–æ–¥–∏—Ç –∏–º—è –≤ —Ñ–æ—Ä–º–∞—Ç '–ò–º—è –§–∞–º–∏–ª–∏—è'
#     """
#     if ',' in author['name']:
#         surname, name = author['name'].split(',', 1)
#         return name.strip() + ' ' + surname.strip()
#     return author['name'].strip()


def converse_name(author_dict):
    
    # –§–∞–º–∏–ª–∏—è, –ò–º—è -> –ò–º—è –§–∞–º–∏–ª–∏—è

    name_str = author_dict.get('name', '').strip()

    if not name_str:
        return ''  

    if ',' in name_str:
        # –†–∞–∑–±–∏–≤–∞–µ–º –Ω–∞ –§–∞–º–∏–ª–∏—é –∏ –ò–º—è
        surname, name = name_str.split(',', 1)
        name = name.strip()
        surname = surname.strip()

        # –£–±–∏—Ä–∞–µ–º —Å–∫–æ–±–∫–∏, –µ—Å–ª–∏ –µ—Å—Ç—å (–Ω–∞–ø—Ä–∏–º–µ—Ä, "E. M. (Edward Morgan)" -> "Edward")
        match = re.search(r'\((.*?)\)', name)
        if match:
            name = match.group(1)

        return f"{name} {surname}"
    else:
        return name_str  


def process_book(book):
    
    return {
        'id': book['id'],
        'title': book['title'],
        'copyright': book['copyright'],
        'media_type': book['media_type'],
        'download_count': book['download_count'],
        'authors': '; '.join([converse_name(a) for a in book['authors']]),
        'translators': '; '.join([converse_name(t) for t in book['translators']]),
        'subjects': '; '.join(book['subjects'][:4]),  
        'bookshelves': '; '.join(
            [re.sub(r'Browsing:\s*', '', shelf) for shelf in book['bookshelves'][:2]]
        ),  
        'languages': book['languages'][0] if book['languages'] else None,
        'formats': list(book['formats'].keys())[0] if book['formats'] else None
    }


books_all = []
for lang in ['en', 'es', 'fr']:
    books = fetch_books(lang)
    processed = [process_book(b) for b in books]
    books_all.extend(processed)


df = pd.DataFrame(books_all)

conn = sqlite3.connect("gutendex_books.db")
df.to_sql("books", conn, if_exists="replace", index=False)
conn.close()

print("Data successfully written to gutendex_books.db")

‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ gutendex_books.db

In [3]:
df.head()

,id,title,copyright,media_type,download_count,authors,translators,subjects,bookshelves,languages,formats
0,2701,"Moby Dick; Or, The Whale",False,Text,104393,Herman Melville,,"Adventure stories; Ahab, Captain (Fictitious c...",Best Books Ever Listings; Fiction,en,text/html
1,84,"Frankenstein; Or, The Modern Prometheus",False,Text,89216,Mary Wollstonecraft Shelley,,Frankenstein's monster (Fictitious character) ...,Culture/Civilization/Society; Fiction,en,text/html
2,7142,The History of the Peloponnesian War,False,Text,67806,Thucydides,Richard Crawley,"Greece -- History -- Peloponnesian War, 431-40...",History - European; History - General,en,text/html
3,1513,Romeo and Juliet,False,Text,66718,William Shakespeare,,Conflict of generations -- Drama; Juliet (Fict...,Fiction; Literature,en,text/html
4,2641,A Room with a View,False,Text,61156,Edward Morgan Forster,,British -- Italy -- Fiction; England -- Fictio...,Culture/Civilization/Society; Fiction,en,text/html

In [4]:
# import sqlite3
# import pandas as pd
# import re

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –±–∞–∑–µ –∏ –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
# conn = sqlite3.connect("gutendex_books.db")
# df = pd.read_sql_query("SELECT * FROM books", conn)

# def format_authors(authors_str):
#     """
#     –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç —Å—Ç—Ä–æ–∫—É —Å –∞–≤—Ç–æ—Ä–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç: –ò–º—è –§–∞–º–∏–ª–∏—è
#     """
#     if pd.isna(authors_str):
#         return None  # –µ—Å–ª–∏ –ø–æ–ª–µ –ø—É—Å—Ç–æ–µ

#     # –†–∞–∑–¥–µ–ª—è–µ–º –∞–≤—Ç–æ—Ä–æ–≤ –ø–æ ";"
#     authors = [a.strip() for a in authors_str.split(';')]

#     formatted_authors = []
#     for author in authors:
#         if ',' in author:
#             # –†–∞–∑–±–∏–≤–∞–µ–º –ø–æ –∑–∞–ø—è—Ç–æ–π –Ω–∞ —Ñ–∞–º–∏–ª–∏—é –∏ –∏–º—è
#             name, surname = author.split(',', 1)
#             name = name.strip()
#             surname = surname.strip()

#             # –£–±–∏—Ä–∞–µ–º —Å–∫–æ–±–∫–∏, –µ—Å–ª–∏ –µ—Å—Ç—å (–Ω–∞–ø—Ä–∏–º–µ—Ä, "T. (Tobias)")
#             match = re.search(r'\((.*?)\)', name)
#             if match:
#                 name = match.group(1)  # –ë–µ—Ä—ë–º –ø–æ–ª–Ω–æ–µ –∏–º—è –∏–∑ —Å–∫–æ–±–æ–∫
#             else:
#                 # –ï—Å–ª–∏ –Ω–µ—Ç —Å–∫–æ–±–æ–∫, –∏—Å–ø–æ–ª—å–∑—É–µ–º –∫–∞–∫ –µ—Å—Ç—å
#                 name = name

#             formatted_authors.append(f"{name} {surname}")
#         else:
#             # –ï—Å–ª–∏ –Ω–µ—Ç –∑–∞–ø—è—Ç–æ–π, –æ—Å—Ç–∞–≤–ª—è–µ–º –∫–∞–∫ –µ—Å—Ç—å
#             formatted_authors.append(author.strip())

#     return ', '.join(formatted_authors)


# conn = sqlite3.connect("gutendex_books.db")
# df = pd.read_sql_query("SELECT * FROM books", conn)

# # –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∫ –∫–∞–∂–¥–æ–º—É –∞–≤—Ç–æ—Ä—É
# df['authors'] = df['authors'].apply(
#     lambda x: '; '.join([format_authors(a) for a in x.split(';')]) if pd.notnull(x) else None
# )

# # –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
# print(df[['title', 'authors']].head())

# # –ó–∞–ø–∏—Å—ã–≤–∞–µ–º –æ–±—Ä–∞—Ç–Ω–æ –≤ —Ç–∞–±–ª–∏—Ü—É
# df.to_sql("books", conn, if_exists="replace", index=False)
# conn.close()

# print("‚úÖ –°—Ç–æ–ª–±–µ—Ü 'authors' —É—Å–ø–µ—à–Ω–æ –æ—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω –∏ –æ–±–Ω–æ–≤–ª—ë–Ω –≤ —Ç–∞–±–ª–∏—Ü–µ!")