In [1]:
# Task 2

result_1 = 2 * 3
print(f'result_1 is {result_1}')
print(f'Type of result_1: {type(result_1)}')

result_1 is 6
Type of result_1: <class 'int'>

In [2]:
# Task 2

result_2 = (3 * 3 + 8) / 3
print(f'result_2 is {round(result_2, 3)}')
print(f'Type of result_2: {type(result_2)}')

result_2 is 5.667
Type of result_2: <class 'float'>

In [4]:
# Task 2

result_3 = 8 // 3
print(f'result_3 is {result_3}')
print(f'Type of result_3: {type(result_3)}')

result_3 is 2
Type of result_3: <class 'int'>

In [5]:
# Task 2

result_4 = 8 % 3
print(f'result_4 is {result_4}')
print(f'Type of result_4: {type(result_4)}')

result_4 is 2
Type of result_4: <class 'int'>

In [6]:
# Task 2

result_5 = 5 ** 2
print(f'result_5 is {result_5}')
print(f'Type of result_5: {type(result_5)}')

result_5 is 25
Type of result_5: <class 'int'>

In [7]:
# Task 2

result_6 = 'Hello' + 'world'
print(f'result_6 is {result_6}')
print(f'Type of result_6: {type(result_6)}')

result_6 is Helloworld
Type of result_6: <class 'str'>

In [8]:
# Task 2

result_7 = 'Python' * 5
print(f'result_7 is {result_7}')
print(f'Type of result_7: {type(result_7)}')

result_7 is PythonPythonPythonPythonPython
Type of result_7: <class 'str'>

In [9]:
# Task 2

result_8 = 5 < 9
print(f'result_8 is {result_8}')
print(f'Type of result_8: {type(result_8)}')

result_8 is True
Type of result_8: <class 'bool'>

In [10]:
# Task 3. Створити дві змінні текстового типу, використовуючи одинарні і подвійні лапки. Для прикладу, Ваше ім'я та прізвище.

first_name = 'Georgiy'      
last_name = "Pancheshenko"  

print(first_name, last_name)

Georgiy Pancheshenko

In [11]:
# Task 4

fav_principle = "In the face of ambiguity, refuse the temptation to guess."

print(fav_principle[:10])    # вивести перші 10 символів рядка
print(fav_principle[2:12])   # вивести 10 символів, починаючи із 3-го 
print(fav_principle[-10:])   # вивести останні 10 символів рядка (від'ємна індексація)
print(fav_principle[::-1])   # вивести весь рядок в зворотному порядку
print(fav_principle[::2])    # вивести символи із парними індексами
print(fav_principle[1::2])   # вивести символи із непарними індексами

In the fac
 the face
 to guess.
.sseug ot noitatpmet eht esufer ,ytiugibma fo ecaf eht nI
I h aeo miut,rfs h epaint us.
ntefc fabgiy euetetmtto oges

In [12]:
# Task 5. Збережіть наступний текст у змінну і виведіть через функцію print, не втративши ні одинарні, ні подвійні лапки.

text = """ "I'm getting better at this!" """

print(text)

 "I'm getting better at this!"

In [13]:
# Task 6. Зберегти багаторядковий стрінг у змінну.

text = """This is line one!
And this is line two!"""

print(text)

This is line one!
And this is line two!

In [16]:
# Task 7. Вивести довжину текстового рядка.

text = 'Text!'

print(f"Length of the text: {len(text)} symbols")

Length of the text: 5 symbols

In [ ]:
# Task 8. Вивести та порівняти змінні y та z.

y = -87.7e10   # -(87.7 * 10**10), негативне число
z = 87.7e-10   # 87.7 * 10**-10, позитивне число

print("y =", y)
print("z =", z)
print("y > z:", y > z)   # в данному випадку буде False, тому що "y" менш ніж "z"

y = -877000000000.0
z = 8.77e-09
y > z: False