In [6]:
import psycopg2

from configs import PASSWORD

conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password=PASSWORD,
                        port="5432")
cursor = conn.cursor()

cursor.execute("SELECT * FROM student_profiles")
data = cursor.fetchall()
data[:2]

[(1,
  'Alice Johnson',
  'alice.j@example.com',
  datetime.date(2024, 9, 1),
  datetime.datetime(2025, 6, 28, 14, 30),
  True,
  Decimal('3.85'),
  ['CS101', 'MATH202', 'ENG150'],
  ['Merit Scholarship']),
 (2,
  'Bob Smith',
  'bob.smith@example.com',
  datetime.date(2024, 9, 3),
  datetime.datetime(2025, 6, 30, 9, 10),
  False,
  Decimal('2.95'),
  ['HIST110', 'PHIL101'],
  [])]

In [7]:
import pandas as pd
import psycopg2

from configs import PASSWORD

conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password=PASSWORD,
                        port="5432")

pd.read_sql("SELECT * FROM student_profiles", conn).head(2)

/var/folders/m9/n5xhgfwn0jx6ppxx2nlb_h_r0000gp/T/ipykernel_66600/875209993.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM student_profiles", conn).head(2)

,id,full_name,email,signup_date,last_login,is_active,gpa,enrolled_classes,scholarships
0,1,Alice Johnson,alice.j@example.com,2024-09-01,2025-06-28 14:30:00,True,3.85,"[CS101, MATH202, ENG150]",[Merit Scholarship]
1,2,Bob Smith,bob.smith@example.com,2024-09-03,2025-06-30 09:10:00,False,2.95,"[HIST110, PHIL101]",[]

In [8]:
from sqlalchemy import create_engine

con_alch = create_engine('postgresql://{user}:{password}@{host}/{dbname}'.format(
            dbname="postgres", user="postgres", password=PASSWORD, host="localhost"))

pd.read_sql("SELECT * FROM student_profiles", con_alch).head(2)

,id,full_name,email,signup_date,last_login,is_active,gpa,enrolled_classes,scholarships
0,1,Alice Johnson,alice.j@example.com,2024-09-01,2025-06-28 14:30:00,True,3.85,"[CS101, MATH202, ENG150]",[Merit Scholarship]
1,2,Bob Smith,bob.smith@example.com,2024-09-03,2025-06-30 09:10:00,False,2.95,"[HIST110, PHIL101]",[]